/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* Header */

header {
    display: flex;
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    margin-left: 200px;
}

header .content .desc h1 {
    color: #156963;
    font-size: 68px;
    line-height: 83px;
}

header .content .desc p {
    color: #2C1500;
    font-size: 18px;
    line-height: 32px;
    margin-top: 30px;
    width: 60%
}

header .content .buttons {
    display: flex;
}

.next {
    background: #156963;
}

.previous {
    background: #FFFFFF;
} 

.next, .previous {
    width: 50%;
    height: 140px;
    padding: 20px;
    padding-left: 40px;
    border: none;
    cursor: pointer;
}

.buttons button .line {
    display: flex;
    align-items: center;
}

.next .text-plant {
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: left;
}

.previous .text-plant {
    font-size: 32px;
    line-height: 39px;
    color: #156963;
    margin-top: 10px;
    text-align: left;
}

.next .line .direction {
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    margin-right: 10px;
}

.previous .line .direction {
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-left: 10px;
}

header .content .login-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 50px;
}

.login-bar .sign-in {
    background: #156963;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
}

.login-bar .sign-up {
    background: #FFFFFF;
    color: #156963;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
}

.login-bar button {
    margin-right: 40px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

/* Features */

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.card {
    width: 22%;
    border: 1px solid #E0E0E0;
    padding: 20px;
}

.card h4 {
    color: #156963;
    font-size: 20px;
    line-height: 24px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.card p {
    clear: both;
    color: #2C1500;
    font-size: 14px;
    line-height: 16px;
}

.card img, .card h4 {
    float: left;
} 

/* Featured plants */

.featured-plants {
    margin-top: 100px;
}

.featured-plants-header {
    display: flex;
    justify-content: space-between;
}

.break-line {
    width: 100%;
    height: 0;
    border: 1px solid #E0E0E0;
    margin: 20px 0;
}

.plants-list {
    display: flex;
    justify-content: space-between;
}

.plant-card h4 {
    margin: 8px 0;
}

.plant-card img {
    background: #F3F4F6;
}

/* Article */

.article {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    grid-template-areas: 
        "article img2"
        "img1 img2";
}

.article-text {
    grid-area: article;
}

.article-text h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
}

.article-text p {
    color: #2C1500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
}

.liana-img {
    grid-area: img1;
    justify-self: start;
    align-self: end;
}

.jason-img {
    grid-area: img2;
    justify-self: end;
}