* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#navbar header {
    font-size: 30px;
    font-weight: bold;
}
section header {
    font-size: 26px;
    font-weight: bold;
}
article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    margin-top: 30px;
}
#menu {
    /* Сброс настроек списков от браузера */
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    font-size: 18px;
}
a, a::after {
    /* Сброс настроек ссылок от браузера */
    text-decoration: none;
    color: black;
    display: block;
}
#menu a {
    border-top: 1px solid black;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    border-right: 1px solid black;
}
#navbar header, #menu a {
    padding: 20px;
    margin: 0;
}
#main-doc {
    position: absolute;
    left: 320px;
    right: 50px;
}

article p {
    padding: 0 10px;
}
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    font-size: 14px;
  }
/* Mobile */
@media (max-width: 815px) {
    #navbar header {
        text-align: center;
    }
    #navbar {
        position: static;
        width: 100%;
        height: auto;
        border: none;
    }
    #menu {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 235px;
        border: 1px solid black;
    }
    #main-doc {
        position: static;
        margin: 15px;
    }
}